@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
/* GENERAL STYLE */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
:root{
    --black: #000000;
    --title-color:#101828;
    --text-color:#667085;
    --gray:#8B8B8B;
    --white:#FFFFFF;   
}

body{
    font-family:'Inter',sans-serif;
    font-size: 20px;
    color: var(--text-color)
}

/* NAV BAR */
/* .nav-bar,  .nb-left, .nb-righ{
    border: solid red 1px; */

 .nav-bar, .nb-left, .nb-right,
 .nb-text, .nb-button{
}

.nav-bar{
    width: 100%;
    height: 72px;
    padding: 0 50px;
    background-color: var(--white);

    display: flex;
    justify-content: start;
    align-items: center;
}

.nb-left{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: start;
    align-items: center;
}
.nb-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nbr-text{
    width: 680px;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nbr-button{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 150px;

 
}   
    
.connexion1{
    width: 94px;
    height: 50px;
    background-color: var(--white);
    border: solid --black;
    gap: 8px;
 
    border-radius: 11px;
}


.inscrire1{
    width: 94px;
    height: 50px;
    background-color: var(--black);
    border: solid --black;
    gap: 8px;
    border-radius: 11px;
    color: var(--white);
}


.nb-left div{
    width: 48px;
    height: 48px;
}

.nb-left div img{
    width: 100%;
    height: 100%;
}

.nav-items-over{
    line-height: 24px;
    font-size: 16px;
    align-items: center;
    border: 0px 0px 2px 0px;
}

/* Page1 */
.Page1{
    width: 100%;
    height: 1300px;
    padding: 50px 100px;
    padding-bottom: 250px;
    background-color: #F5F5F5;
}

.high{
    width: 70%;
    margin: 0 15%;
}
.title1{
    font-size: 60px;
    color: var(--title-color);
    font-weight: 600;
    margin: 0 12.5%;
}

.text1{
    width: 100%;
    padding: 50px 40px;
}

.description1{
    margin: 50px 25%;
    font-size: 20px;
}

.buttonn{
    margin: 0 25% ;
    width: 50%;
    padding: 0px 10%;
    height: 102px;
    
    display: flex;
    justify-content: space-between;
    align-items: start; 
}

.connexion2{
    width: 200px;
    height:90px;
    background-color: var(--white);
    border: solid --black;
    gap: 8px;
    margin: 1px 5px;
    border-radius: 24px;
}

.inscrire2{
    width: 200px;
    height: 90px;
    background-color: var(--black);
    border: solid --black;
    gap: 8px;
    border-radius: 24px;
    color: var(--white);
}

.Page2{
    width: 100%;
    height: 1500px;
    padding: 50px 100px;
    padding-bottom: 250px;
}

.down{
    padding:0 25%;
    
}

.img1{
text-align: right;
margin:0 12%;
width:0 1222px;
}

.title2{
    width: 75%;
    height: 90px;
    width: 70%;
    margin:0 12.5%;
    padding:0 12%;
}

.Fonctionnalités{
    color: var(--title-color);
    font-weight: 500;
    margin:0 13%;
    padding:0 26%;
}

.propros{
    font-size: 33px;
    font-weight: 700;
    color: var(--title-color);
    margin: 0 13%;
    
}

.description2{
    margin:10px 430px;
}

.description3{
    margin: 25px 0;
}

.description4{
    margin: 25px 0;
}

.title3{
    font-weight: 600;
    font-size: 32px;
    color: var(--title-color);
}

.set-items1{
    display: flex;
    justify-content: space-between;
    align-items: start; 
}

.list1{
    display: flex;
    justify-content: center;
    align-items: start; 
    margin: 30px;
}

.list2{
    display: flex;
    justify-content: center;
    align-items: start; 
    margin: 30px;
}

.list3{
    display: flex;
    justify-content: center;
    align-items: start; 
    margin: 30px;
}

.lista{
    margin: 35px 25px;
}

.set-items2{
    display: flex;
    justify-content: space-between;
    align-items: start; 
}

.list4{
    display: flex;
    justify-content: center;
    align-items: start; 
    margin: 30px;
}

.list5{
    display: flex;
    justify-content: center;
    align-items: start; 
    margin: 30px;
}

.list6{
    display: flex;
    justify-content: center;
    align-items: start; 
    margin: 30px;
}

.listb{
    margin: 35px 25px;
}

.title4{
    font-weight: 600;
    font-size: 32px;
    color: var(--title-color);
    font-size: 44px;
    font-weight: 700;
}

.text3{
    padding-bottom: 100px;

}
.case{
    height: 300px;
    width: 75%;
    border: solid var(--black) 1px;
    margin: 10px 12.5%;
    background-color:#F5F5F5;
    border-radius: 18px;
    justify-content: space-between;
    align-items: start; 
    margin: 30px;
}

.page3{
    height: 500px;
    width: 100%;
}

.texte2{
    padding: 0 6%
}

;image{
    width: 100%;
    margin: 12.5%;
    padding: 0 50%;
    height: 1222px;
}

.case{
   
    color: var(--title-color);
    margin: 0 13%;
    display: flex;
    justify-content: space-between;
    align-items: start; 
}

.Ensavoirplus{
    width: 200px;
    height:90px;
    background-color: var(--white);
    border: solid --black;
    gap: 8px;
    margin: 1px 5px;
    border-radius: 24px;
}

.inscrire4{
    width: 200px;
    height: 90px;
    background-color: var(--black);
    border: solid --black;
    gap: 8px;
    border-radius: 24px;
    color: var(--white);
}
.description5{
    margin: 25px 0;
    width: 10px; 
}

.title5{
    font-size: 44px;
    font-weight: 700;
}

.texte5{
    display: flex;
    justify-content: space-between;
    align-items: start; 
}

#map{
    height: 1000px;
    border: none;
    border-radius: none;
 }

