@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
/* GENERAL STYLE */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
:root{
    --black: #000000;
    --title-color:#101828;
    --text-color:#667085;
    --gray:#8B8B8B;
    --white:#FFFFFF;   
}

body{
    font-family:'Inter',sans-serif;
    font-size: 20px;
    color: var(--text-color)
}

/* NAV BAR */
/* .nav-bar,  .nb-left, .nb-righ{
    border: solid red 1px; */

 .nav bar, .nb-left, .nb-right,
 .nb-text, .nb-button{
    border: solid red 1px;
}

.nav-bar{
    width: 100%;
    height: 72px;
    padding: 0 50px;

    display: flex;
    justify-content: start;
    align-items: center;
}

.nb-left{
    width: 50%;
    height: 100%;

    
    display: flex;
    justify-content: start;
    align-items: center;
}
.nb-right{
    width: 50%;
    height: 100%;
}

.nb-left div{
    width: 48px;
    height: 48px;

    border: solid red 1px; 
}

.nb-left div img{
    width: 100%;
    height: 100%;

    border: solid red 1px; 
}